In [1]:
import os
os.chdir('E:/4 SNU/PYTHON ML FILES')

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data_cleaned.csv')
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
x = data.drop(['Survived'], axis = 1)
y = data['Survived']

In [5]:
from sklearn.model_selection import train_test_split as tts
train_x, test_x, train_y, test_y = tts(x, y, random_state = 101, stratify = y)

In [6]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [7]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [8]:
from sklearn.tree import DecisionTreeClassifier as DTC

In [9]:
clf = DTC()
clf.fit(train_x, train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
clf.score(train_x, train_y)

0.9880239520958084

In [11]:
clf.score(test_x, test_y)

0.757847533632287

In [12]:
from sklearn.ensemble import RandomForestClassifier as RFC

In [78]:
clf = RFC(n_estimators = 50, max_depth = 12)

In [79]:
clf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=12, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [80]:
clf.score(train_x, train_y)

0.9670658682634731

In [81]:
clf.score(test_x, test_y)

0.7713004484304933

In [71]:
clf.feature_importances_

array([0.19698536, 0.21204503, 0.03328609, 0.0164485 , 0.05972203,
       0.16742184, 0.16918669, 0.01573975, 0.01789014, 0.00622449,
       0.00457438, 0.00414865, 0.00045014, 0.00375442, 0.01923454,
       0.01394661, 0.01068231, 0.0021376 , 0.00287667, 0.00292342,
       0.00095337, 0.01342504, 0.0100336 , 0.01590933])

In [73]:
pd.Series(clf.feature_importances_, index = train_x.columns)

Age           0.196985
Fare          0.212045
Pclass_1      0.033286
Pclass_2      0.016449
Pclass_3      0.059722
Sex_female    0.167422
Sex_male      0.169187
SibSp_0       0.015740
SibSp_1       0.017890
SibSp_2       0.006224
SibSp_3       0.004574
SibSp_4       0.004149
SibSp_5       0.000450
SibSp_8       0.003754
Parch_0       0.019235
Parch_1       0.013947
Parch_2       0.010682
Parch_3       0.002138
Parch_4       0.002877
Parch_5       0.002923
Parch_6       0.000953
Embarked_C    0.013425
Embarked_Q    0.010034
Embarked_S    0.015909
dtype: float64